<link rel="stylesheet" href="/styles/test.css">
<% layout("layouts/boilerplate") %>

<div class="">
  <ul>
    <li><%=test.title%></li>
    <li><%=test.location%></li>
    <li><%=test.location2%></li>
    <li><%=test.location3%></li>
    <li><%=test.online%></li>
    <li><%=test.date%></li>
    <li><%-test.description%></li>
  </ul>
</div>
