<link rel="stylesheet" href="/styles/partizip.css">
<% layout("layouts/boilerplate") %>
  <div class="col-6 offset-3">
    <!-- Card -->
    <div class="card card-part-gallery mb-3">
      <!-- url comes from the campground model in images -->
      <div class="card-body">
        <h5 class="card-title"><%=ptg.title%></h5>
        <p class="card-text"><%- ptg.description %></p>
      </div>
      <!-- Test Gallery -->
          <div class="gallery2">
          <% ptg.images.forEach((img, i) => { %>
                <img src="<%= img.thumbnails %>" class="d-block gallery-img-card pointer" data-bs-toggle="modal" data-bs-target="#exampleModal" alt="">
          <% }) %>
        </div>
      <% if (currentUser ) {%>
      <div class="card-body">
        <div class="btn-group-card">
        <a class="card-link btn btn-info" href="/partizipatives/gallerien/<%=ptg._id%>/edit">Bearbeiten</a>
        <form class="d-inline" action="/partizipatives/gallerien/<%=ptg._id%>?_method=DELETE" method="post">
          <button class="btn btn-danger">Löschen</button>
        </form>
      </div>
      </div>
      <% }%>
    </div>
<!-- Card -->



<!-- Test Gallery -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-ws">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%=ptg.title%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Carousel -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% ptg.images.forEach((img, i) => { %>
            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
              <img src="<%= img.url %>" class="d-block w-100 carousel-img" alt="">
            </div>
            <% }) %>
            <!-- Conditional displaying of arrows -->
            <% if(ptg.images.length > 1) { %>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
            <% } %>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-mina" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>
<!-- Test Modal -->

  </div>
