<link rel="stylesheet" href="/styles/forms.css">
<% layout("layouts/boilerplate") %>
<div class="row">
  <h1 class=""><span class="title-line line-pink">Zeitstrahl Text Bearbeiten</span></h1>
  <div id="timeline-form-new" class="col-6 offset-3">
    <form action="/zeitstrahl2023/<%=timelinethree._id%>?_method=PUT" method="post" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label label-bold" for="auswahl">Frühjahr 2023 – Auswahl</label>
        <textarea class="form-control" type="text" id="auswahl" name="timelinetwo[auswahl]"><%=timelinethree.auswahl%></textarea>
        <script>
                CKEDITOR.replace( 'auswahl' );
            </script>
      </div>
      <div class="mb-3">
        <label class="form-label label-bold" for="kennenlern">Kennenlernphase</label>
        <textarea class="form-control" type="text" id="kennenlern" name="timelinethree[kennenlern]"><%=timelinethree.kennenlern%></textarea>
        <script>
                CKEDITOR.replace( 'kennenlern' );
            </script>
      </div>
      <div class="mb-3">
        <label class="form-label label-bold" for="bedarf">Bedarfsanalyse</label>
        <textarea class="form-control" type="text" id="bedarf" name="timelinethree[bedarf]"><%=timelinethree.bedarf%></textarea>
        <script>
                CKEDITOR.replace( 'bedarf' );
            </script>
      </div>
      <div class="mb-3">
        <label class="form-label label-bold" for="auswertung">Auswertung</label>
        <textarea class="form-control" type="text" id="auswertung" name="timelinethree[auswertung]"><%=timelinethree.auswertung%></textarea>
        <script>
                CKEDITOR.replace( 'auswertung' );
            </script>
      </div>
      <div class="mb-3">
        <label class="form-label label-bold" for="idee">Ideenfindung</label>
        <textarea class="form-control" type="text" id="idee" name="timelinethree[idee]"><%=timelinethree.idee%></textarea>
        <script>
                CKEDITOR.replace( 'idee' );
            </script>
      </div>
      <div class="mb-3">
        <label class="form-label label-bold" for="evaluation">Winter 2023 – Evaluation</label>
        <textarea class="form-control" type="text" id="evaluation" name="timelinethree[evaluation]"><%=timelinethree.evaluation%></textarea>
        <script>
                CKEDITOR.replace( 'evaluation' );
            </script>
      </div>
      <div class="mb-3">
        <button class="btn btn-aktuelles">Speichern</button>
      </div>
    </form>
    <a class="btn btn-primary btn-mina" href="/prozess-begleitung">Zurück</a>
  </div>
</div>
<!--  -->
