<link rel="stylesheet" href="/styles/landing.css">
<% layout("layouts/boilerplate") %>
<!-- Block Aktuelles -->
<div class="container-fluid">
  <!-- Path Nav -->
  <div class="header-bg">
    <img src="/img/gesamt/Projekt/bg-landing.png" class="img-fluid cover-header" id="cover-header-landing">
  </div>
  <div class="block aktuelles">
    <h1 class=""><span class="title-line">Aktuelles</span></h1>
    <div class="text-box-aktuelles">
      <h3><%= aktuell.title %></h3>
      <p class="text-aktuelles"><%- aktuell.description %></p>
      <% if (aktuell.link) {%>
        <p class="p-link">
          Weitere Informationen finden Sie
          <a target="_blank" href="<%= aktuell.link %>" class="card-link">hier</a>
        </p>
      <% } %>
    </div>
    <% if(currentUser) {%>
    <a href="/aktuelles/<%= aktuell._id %>/edit" class="btn btn btn-aktuelles-blue">Eintrag Bearbeiten</a>
    <a href="/landing-flyers/<%=flyer._id %>/edit" class="btn btn btn-aktuelles-blue">Flyer Bearbeiten</a>
    <% } %>
    <% if(flyer) {%>
      <% flyer.images.forEach((img, i) => { %>
        <a href="<%=img.attach%>" download class="btn" id="btn-flyer" target="_blank"><%=flyer.title%></a>
        <% }) %>
    <% } else { %>
      <a href="/downloads/flyer-landing.pdf" class="btn" id="btn-flyer" target="_blank">Unser aktueller Flyer</a>
    <% } %>
    <div id="book">
      <h1><span class="title-line">Veröffentlichungen</span></h1>
    <div id="book-box">
      <a href="/downloads/2022_Erfahrungsberichte-aktualisiert.pdf" target="_blank"><img class="book-img"src="/img/gesamt/Projekt/Buch.png" alt=""></a>
      <a href="/downloads/2022_Handreichung.pdf" target="_blank"><img class="book-img"src="/img/gesamt/Projekt/Buch2.png" alt=""></a>
      <a href="/downloads/MINA_Handreichung_ukrainisch-WEB_verlinkt.pdf" target="_blank"><img class="book-img" src="/img/gesamt/Projekt/Buch-Ukrainisch-1.jpg" alt=""></a>
      <a href="/downloads/MINA-Handreichung_russ_web_verlinkt.pdf" target="_blank"><img class="book-img" src="/img/gesamt/Projekt/Buch-Russisch-1.jpg" alt=""></a>
    </div>
    <div id="book-box">
      <a href="/downloads/MINA_Familienbroschüre_arabisch.pdf" target="_blank"><img class="book-img"src="/img/gesamt/Projekt/Buch3.png" alt=""></a>
      <a href="/downloads/MINA_Familienbroschüre_tuerkisch.pdf" target="_blank"><img class="book-img"src="/img/gesamt/Projekt/Buch4.png" alt=""></a>
      <a href="/downloads/MINA_Familienportraits_ukrainisch_web_verlinkt.pdf" target="_blank"><img class="book-img" src="/img/gesamt/Projekt/Buch-Ukrainisch-2.jpg" alt=""></a>
      <a href="/downloads/Familienportraits_MINA_russisch_web_verlinkt.pdf" target="_blank"><img class="book-img" src="/img/gesamt/Projekt/Buch-Russisch-2.jpg" alt=""></a>
    </div>
    </div>
  </div>
  <!-- Block Kalender -->
  <div class="calendar-block">
    <h1 class="white"><span class="title-line">Kalender</span> </h1>
    <div class="list-group mb-3">
      <% for(let calendar of calendars) {%>
      <% if(!calendar || !calendars) {%>
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Neueigkeiten</h5>
            <small>08.02.2021</small>
          </div>
          <p class="mb-1">Hier informieren wie Sie in Kürze über unsere Termine</p>
        </a>
      <% } else { %>
        <a href="/calendars/<%= calendar._id %>" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= calendar.title %></h5>
            <div class="date-box">
            <small><%= calendar.formatedDate %></small>
            <% if (calendar.datetwo) {%>
            <small>bis</small>
            <small><%= calendar.datetwo %></small>
          </div>
          <
<!-- NAV + HEADER -->
    <div class="header-bg">
      <img id="header-img" src="/img/gesamt/Projekt/bg-expo-2.png" class="img-fluid cover-header">
    </div>
    <!-- TABLE BLOCK -->
    <div class="block" id="header-expo">
      <img class="logo" src="/img/gesamt/Logos/WBM_Flucht-Migration-Behin.gif" alt="">
      <h1 id="" class="ws-title title-line"><span>Wanderausstellung</span></h1>
      <div class="expo-text" id="ws-intro"><%-expotext.description%></div>
    </div>
    <div class="prz-btn-box">
      <% if(currentUser && expoflyer ) {%>
      <a href="/wander-ausstellung-flyers/<%=expoflyer._id %>" class="btn btn-info btn-prz-text">Flyer Ansehen</a>
      <% } %>
      <% if (currentUser) { %>
      <a href="/wander-ausstellung-flyers/neu" class="btn btn-mina btn-prz-text">Flyer Hinzufügen</a>
      <a href="/wander-ausstellung/<%=expotext._id %>/edit" class="btn btn-aktuelles-blue btn-prz-text">Text bearbeiten</a>
      <a href="/wander-ausstellung-gallerien/neu" class="btn btn-mina btn-prz-text">Galerie Hinzufügen</a>
      <%  } %>
      <% if(expoflyer) {%>
      <% expoflyer.images.forEach((img, i) => { %>
      <a href="<%=img.attach%>" download class="btn btn-mina btn-prz-text" id="btn-flyer" target="_blank"><%=expoflyer.title%></a>
      <% }) %>
      <% } else { %>
      <div class="no-flyer-space-holder">
      </div>
      <% }%>
      <a href= "/downloads/MINA_flyer-WA_web-neu.pdf" download class="btn btn-mina btn-prz-text" id="btn-flyer" target="_blank">Flyer</a>
    </div>

    <!-- Video Block -->
  <div class="about-block" id="video-block">
    <h1 class="white"><span class="title-line line-green">Material zur Ausstellung</span></h1>
    <div class="video-box">
      <h3 class="white">Einblicke bei MINA</h3>
      <video src="/videos/Eröffnungsfilm.mp4" poster="/img/gesamt/Thumbnails/Thumbnail_Mina.png" width=560 height=315 controls poster="posterimage.jpg">
      </video>
    </div>
    <div class="video-box" id="video-box-last">
      <h3 class="white">Interview mit Sawsan Mahmood und Anas Alisameel</h3>
      <video src="/videos/Interview.mp4" poster="/img/gesamt/Thumbnails/Thumbnail_Mina_2.png" width=560 height=315 controls poster="posterimage.jpg">
      </video>
    </div>
    <div class="video-box" id="box-last">
      <h3 class="white">Audioguide</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6Fyd25ZlElg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>

    <!-- IMAGE BLOCK -->
    <% if(currentUser) {%>
    <% if(egls) {%>
    <div class="block blue gallery-block" id="expo-gallery">
      <h1 class="white"><span class="title-line line-blue">Bildergalerien</span></h1>
      <% for(let egl of egls) {%>
          <!-- Test Gallery -->
          <div class="gallery-container">
            <h3 class="gallerie-titel"><%= egl.title %></h3>
          <div class="gallery2" id="gallery2">
          <% egl.images.forEach((img, i) => { %>
                <img src="<%= img.thumbnail %>" class="d-block gallery-img-card"  alt="">
          <% }) %>
          </div>
          <a class="gallerie-link" href="/wander-ausstellung-gallerien/<%= egl._id %>">Galerie ansehen</a>
        </div>
      <% }%>
      <% if(currentUser) {%>
        <a class="card-link btn btn-mina m-auto" href="/wander-ausstellung-gallerien/neu">Galerie Hinzufügen</a>
      <% }%>
      </div>
    <% }%>
    <% } %>
    <!-- IMAGE BLOCK -->

    <!-- Kontakt -->
    <div class="container-fluid contact-box" id="prozess-contact">
      <h1 class="white"><span class="title-line">Ansprechperson</span></h1>
      <div class="row">
        <div class="worker col">
          <img class="contact-img" src="/img/gesamt/Mitarbeiter/04_Wendy.jpg" alt="">
          <div class="worker-info">
            <ul>
              <li class="worker-title">Wanderausstellung</li>
              <li>Wendy Taranowski</li>
              <li>030 – 62 93 40 31</li>
              <li>0159 – 06 70 38 98</li>
              <li><a href="mailto:w.taranowksi@mina-berlin.de">w.taranowksi@mina-berlin.de</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->

            <% } %>
          </div>
          </div>
          <p class="mb-1"><%- calendar.description %></p>
          <small class="mehr">weitere Infos</small>
          <% } %>
        </a>
      <% }%>
    </div>
    <% if(currentUser) {%>
    <a href="/calendars/neu" class="btn btn-mina-calendar">Eintrag Hinzufügen</a>
    <% } %>
    <a href="/calendars/alle" class="btn btn-mina-calendar" id="calendar-btn">Alle Kalender Einträge</a>
  </div>
  <!-- Über Block -->
  <div class="about-block">
    <h1 class="white"><span class="title-line line-green"><%= about.title %></span></h1>
    <div class="text-block"><%- about.description %></div>
    <h1 class="white"><span class="title-line line-green"><%= about.secondtitle %></span></h1>
    <div class="text-block" id="last-text"><%- about.seconddescription %></div>
    <% if(currentUser) {%>
    <a href="/ueberehrenamt/<%= about._id %>/edit" class="btn btn-mina-about">Eintrag Bearbeiten</a>
    <% } %>
  </div>
  <!-- Map Block -->
  <div class="map-block">
    <h1 class="white"><span class="title-line line-blue">MINA Standort</span></h1>
    <div class="map-box box mt-5 mb-5 pb-5">
      <img class="img-fluid" id="map" src="/img/gesamt/Logos/Map-final-dark.png" alt="">
      <div class="text-box">
        <h3>Berlin</h3>
        <div id="standort">
          <p>MINA – Leben in Vielfalt e. V.</p>
          <p>Projekt <strong>Vielfalt Inklusiv</strong></p>
          <p>Friedrichstraße 1
            <br>
            10969 Berlin
          </p>
          <p></p>
          <p>030 62 93 40 31</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Sponsor Block -->
  <div class="helper-block">
    <div class="block helper-box">
      <h1 id="title-helper"><span id="span-helper" class="title-line line-pink">Gefördert durch</span></h1>
      <div id="box-helper">
        <a href="https://www.integrationsbeauftragte.de/ib-de#" target="_blank"><img href="" id="img-helper" src="/img/gesamt/Logos/Logo_Gefoerdert_2.png" alt=""></a>
      </div>
    </div>
  </div>
</div>
