<link rel="stylesheet" href="/styles/landing.css">
<% layout("layouts/boilerplate") %>
<!-- Block Aktuelles -->
<div class="container-fluid">
  <!-- Path Nav -->
  <div class="header-bg">
    <img src="/img/gesamt/Projekt/bg-landing.png" class="img-fluid cover-header">
  </div>
  <div class="block aktuelles">
    <h1 class=""><span class="title-line">Aktuelles</span></h1>
    <div class="text-box-aktuelles">
      <h3><%= aktuell.title %></h3>
      <p class="text-aktuelles"><%- aktuell.description %></p>
      <% if (aktuell.link) {%>
        <p class="p-link">
          Weitere Informationen finden Sie
          <a target="_blank" href="<%= aktuell.link %>" class="card-link">hier</a>
        </p>
      <% } %>
    </div>
    <% if(currentUser) {%>
    <a href="/aktuelles/<%= aktuell._id %>/edit" class="btn btn btn-aktuelles">Eintrag Bearbeiten</a>
    <a href="/landing-flyers/<%=flyer._id %>/edit" class="btn btn btn-aktuelles">Flyer Bearbeiten</a>
    <% } %>
    <% if(flyer) {%>
      <% flyer.images.forEach((img, i) => { %>
        <a href="<%=img.attach%>" download class="btn" id="btn-flyer" target="_blank"><%=flyer.title%></a>
        <% }) %>
    <% } else { %>
      <a href="/downloads/flyer-landing.pdf" class="btn" id="btn-flyer" target="_blank">Unser aktueller Flyer</a>
    <% } %>
  </div>
  <!-- Block Kalender -->
  <div class="calendar-block">
    <h1 class="white"><span class="title-line">Kalender</span> </h1>
    <div class="list-group mb-3">
      <% for(let calendar of calendars) {%>
      <% if(!calendar || !calendars) {%>
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Neueigkeiten</h5>
            <small>08.02.2021</small>
          </div>
          <p class="mb-1">Hier informieren wie Sie in Kürze über unsere Termine</p>
        </a>
      <% } else { %>
        <a href="/calendars/<%= calendar._id %>" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= calendar.title %></h5>
            <div class="date-box">
            <small><%= calendar.formatedDate %></small>
            <% if (calendar.datetwo) {%>
            <small>bis</small>
            <small><%= calendar.datetwo %></small>
            <% } %>
          </div>

          </div>
          <p class="mb-1"><%- calendar.description %></p>
          <small class="mehr">weitere Infos</small>
          <% } %>
        </a>
      <% }%>
    </div>
    <% if(currentUser) {%>
    <a href="/calendars/neu" class="btn btn-mina-calendar">Eintrag Hinzufügen</a>
    <% } %>
    <a href="/calendars/alle" class="btn btn-mina-calendar" id="calendar-btn">Alle Kalender Einträge</a>
  </div>
  <!-- Über Block -->
  <div class="about-block">
    <h1 class="white"><span class="title-line line-green"><%= about.title %></span></h1>
    <div class="text-block"><%- about.description %></div>
    <h1 class="white"><span class="title-line line-green"><%= about.secondtitle %></span></h1>
    <div class="text-block" id="last-text"><%- about.seconddescription %></div>
    <% if(currentUser) {%>
    <a href="/ueberehrenamt/<%= about._id %>/edit" class="btn btn-mina-about">Eintrag Bearbeiten</a>
    <% } %>
  </div>
  <!-- Map Block -->
  <div class="map-block">
    <h1 class="white"><span class="title-line line-blue">MINA Standort</span></h1>
    <div class="map-box box mt-5 mb-5 pb-5">
      <img class="img-fluid" id="map" src="/img/gesamt/Logos/Map-final-dark.png" alt="">
      <div class="text-box">
        <h3>Berlin</h3>
        <div id="standort">
          <p>MINA – Leben in Vielfalt e. V.</p>
          <p>Projekt Ehrenamt in Vielfalt</p>
          <p>Friedrichstraße 1
            <br>
            10969 Berlin
          </p>
          <p></p>
          <p>030 62 93 40 31</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Sponsor Block -->
  <div class="sponsor-block">
    <div class="block sponsor-box">
      <h1 id="title-sponsor"><span id="span-sponsor" class="title-line line-pink">Unsere Partner und Kooperationen</span></h1>
      <div id="box-sponsor">
        <a href="https://www.integrationsbeauftragte.de/ib-de#" target="_blank"><img href="" class="img-fluid img-sponsor" src="/img/gesamt/Logos/Logo_Gefoerdert.png" alt=""></a>
        <a href="https://bvkm.de/unsere-themen/migration-und-behinderung/" target="_blank"><img class="img-fluid img-sponsor" src="/img/gesamt/Logos/Logo_kooperation.png" alt=""></a>
      </div>
    </div>
  </div>
</div>
