<link rel="stylesheet" href="/styles/partizip.css">
<% layout("layouts/boilerplate") %>
<!-- NAV + HEADER -->
<div class="container-fluid">
  <div class="header-bg">
    <img src="/img/gesamt/Projekt/bg-partizipativ.png" class="img-fluid cover-header" id="bg-partizip">
  </div>
  <!-- HEADER BLOCK -->
  <div class="block aktuelles" id="header-part">
    <img class="logo-part" src="/img/gesamt/Logos/icon_partizip.png" alt="">
    <h1 id="" class="ws-title title-line"><span ><%= partizip.titleone %></span></h1>
    <div class="part-text" id="ws-intro"><%-partizip.descriptionone %></div>
    <% if(partizip.descriptiontwo ||partizip.titletwo ) {%>
    <h1 id="" class="ws-title title-line"><span ><%= partizip.titletwo %></span></h1>
    <div class="part-text" id="ws-intro"><%-partizip.descriptiontwo %></div>
    <% } %>
    <% if(currentUser) {%>
    <a href="/partizipatives/<%= partizip._id %>/edit" class="btn btn-mina">Text bearbeiten</a>
    <a href="/partizip-flyers/neu" class="btn btn-mina">Flyer Hinzufügen</a>
    <% } %>
    <% if(currentUser && partflyer) {%>
    <a href="/partizip-flyers/<%=partflyer._id %>/edit" class="btn btn btn-aktuelles">Flyer Bearbeiten</a>
    <% } %>
    <% if(partflyer) {%>
      <% partflyer.images.forEach((img, i) => { %>
        <a href="<%=img.attach%>" download class="btn" id="btn-flyer" target="_blank"><%=partflyer.title%></a>
        <% }) %>
    <% } else { %>
        <a href="/downloads/flyer-landing.pdf" class="btn" id="btn-flyer" target="_blank">Unser aktueller Flyer</a>
    <% } %>
    <div class="video-box">
      <h3 class="mina-pink">Eröffnungsfilm</h3>
      <video src="/videos/Eröffnungsfilm.mp4" width=320  height=240 controls  poster="posterimage.jpg">
      </video>
    </div>
    <div class="video-box">
      <h3 class="mina-pink">Interview</h3>
      <video src="/videos/Interview.mp4" width=320  height=240 controls  poster="posterimage.jpg">
      </video>
    </div>
    <% if(currentUser) {%>
    <a href="/partizipatives/gallerien/neu" class="btn btn-mina">Gallerie Hinzufügen</a>
    <% } %>
  </div>

  <!-- IMAGE BLOCK -->
  <% if(ptgs.images) {%>
  <div class="block blue gallery-block" id="part-gallery">
    <h1 class="white"><span class="title-line line-blue">Bildergalerie</span></h1>
    <div class="gallery-box">
    <% for(let ptg of ptgs) {%>
      <div class="card-part">
        <img class="img-part-card" src="<%= ptg.images[0].url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= ptg.title %></h5>
        </div>
        <div class="card-body">
          <a href="/partizipatives/gallerien/<%= ptg._id %>" class="btn btn-aktuelles-blue">Zur Gallerie</a>
        </div>
      </div>
    <% }%>
  </div>
  <% if(currentUser) {%>
  <a href="/partizipatives/gallerien/neu" class="btn btn-ws-gallery">Gallerie Hinzufügen</a>
  <% } %>
  </div>
  <% } %>

  <!-- IMAGE BLOCK -->
  <!-- <div class="block blue gallery-block">
    <h1 class="white"><span class="title-line line-blue">Aktuelles</span></h1>
    <div class="gallery gallery-partizip">
      <h3>Vortstellung des Projekts bei der KHSB</h3>
      <h4>19.11.2020</h4>
      <p>Partizipative Projekte sollen Menschen mit Migrations- und/oder Fluchterfahrung und Behinderung, deren Angehörigen und Ehrenamtlichen die Möglichkeit geben, sich selbst zu äußern, ihre Themen und Meinungen auszudrücken und öffentlich Raum
        zu geben.</p>
      <div class="img-container-partizip">
        <img class="gallery-img" src="/img/gesamt/Projekt/1.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/2.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/3.jpg" alt="">
      </div>
    </div>
    <div class="gallery gallery-partizip">
      <h3>Gespräche mit der Zielgruppe</h3>
      <h4>10.11.2020</h4>
      <p>Viele Themen der Schnittstelle Flucht, Migration und Behinderung sind oft Teil abstrakter Diskussionen, in denen Menschen nicht im Mittelpunkt stehen. Um dies zu ändern, gab es am vergangenen Freitag eine umfassende Befragung der
        Ziegruppe.</p>
      <div class="img-container-partizip">
        <img class="gallery-img" src="/img/gesamt/Projekt/1.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/2.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/3.jpg" alt="">
      </div>
    </div>
    <div class="gallery gallery-partizip">
      <h3>Kooperationsgespräche mit der ASH und der KHSB</h3>
      <h4>19.10.2020</h4>
      <p>Nach einem gemeinsamen Treffen wurde einstimmig eine Kooperation beschlossen. Die Umsetzung der Projekte erfolgt gemeinsam mit Studierenden der Alice Salomon Hochschule (ASH) und der Katholischen Hochschule Berlin (KHSB).</p>
      <div class="img-container-partizip">
        <img class="gallery-img" src="/img/gesamt/Projekt/1.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/2.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/3.jpg" alt="">
      </div>
      <p class="more">Weitere Beiträge ....</p>
    </div>
  </div> -->
  <!-- MITARBEITER BLOCK -->
  <!-- <div class="block-worker">
    <img src="/img/gesamt/Elemente/Path 3-pink.png" alt="" class="img-fluid">
    <div class="block rosa contact">
      <h1 class="white"><span class="title-line">Ansprechpartnerinnen</span></h1>
      <div class="container worker-box">
        <div class="row">
          <div class="worker col-sm-6">
            <img class="contact-img" src="/img/gesamt/Mitarbeiter/04_Wendy.jpg" alt="">
            <div class="worker-info">
              <ul>
                <li class="worker-title">Partizipative Projekte</li>
                <li>Wendy Taranowski</li>
                <li>0157 - 850 783 07</li>
                <li>030 62 93 40 31</li>
                <li><a href="mailto:w.taranowksi@mina-berlin.de">w.taranowksi@mina-berlin.de</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container-fluid contact-box" id="part-contact">
    <h1 class="white"><span class="title-line">Ansprechpartnerinnen</span></h1>
    <div class="row">
        <div class="worker col">
          <img class="contact-img" src="/img/gesamt/Mitarbeiter/04_Wendy.jpg" alt="">
          <div class="worker-info">
            <ul>
              <li class="worker-title">Partizipative Projekte</li>
              <li>Wendy Taranowski</li>
              <li>030 – 62 93 40 31</li>
              <li>0159 – 06 70 38 98</li>
              <li><a href="mailto:w.taranowksi@mina-berlin.de">w.taranowksi@mina-berlin.de</a> </li>
            </ul>
          </div>
        </div>
        <div class="worker col">
          <img class="contact-img" src="/img/gesamt/Mitarbeiter/07_Laura.jpg" alt="">
          <div class="worker-info">
            <ul>
              <li class="worker-title">Partizipative Projekte</li>
              <li>Laura Schödermaier</li>
              <li>030 62 93 40 31</li>
              <li><a href="mailto:l.schoedermaier@mina-berlin.de">l.schoedermaier@mina-berlin.de</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
