<link rel="stylesheet" href="/styles/workshops.css">
<link rel="stylesheet" href="/styles/podcast.css">
<% layout("layouts/boilerplate") %>
<!-- NAV + HEADER -->
<div class="container-fluid">
  <div class="header-bg">
    <img src="/img/gesamt/Projekt/bg-podcast.png" class="img-fluid cover-header" id="img-header-ws">
  </div>
  <!-- TABLE BLOCK -->
  <div id="intro-block">
    <h1 class="ws-title title-line"><%=podcasttext.title%></h1>
    <div class="ws-text" id="ws-intro"><%-podcasttext.description%>
    </div>
    <% if(currentUser) {%>
    <div class="btn-box">
      <a href="/podcasts/<%=podcasttext._id%>/edit" class="btn btn-aktuelles-blue">Text Bearbeiten</a>
    </div>
    <% } %>
    <div id="podcast-player-box">
      <iframe title="Vielfalt inklusiv" allowtransparency="true" height="315" width="100%" style="border: none; min-width: min(100%, 430px);" scrolling="no" data-name="pb-iframe-player" src="https://www.podbean.com/player-v2/?i=prtni-f73e40-pbblog-playlist&share=1&download=1&rtl=0&fonts=Arial&skin=8bbb4e&font-color=ffffff&logo_link=podcast_page&order=serial&limit=10&filter=all&ss=5c93d19bc8104d72a2a9db056be5a5f2&btn-skin=fb0584&size=315" allowfullscreen=""></iframe>
    </div>
    <div id="logo-spotify-box">
      <p id="text-spotify">Auf Spotify hören</p>
      <a href="https://open.spotify.com/show/2VMcO7ZpsBS04wxK8vqRw0" target="_blank"><i id="logo-spotify" class="fa-brands fa-spotify fa-2x"></i></a>
    </div>
  </div>

  <div id="accordion-block">
    <h1 class="white"><span class=" line-blue">Folgenbeschreibungen</span></h1>
    <div id="accordion-box">
      <% if(podcastaccordion.accordiontitleone) {%>
      <div class="accordion-item" id="first-accordion">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong class="strong-ws"><%=podcastaccordion.accordiontitleone %></strong>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <%-podcastaccordion.accordiontextone %>
            <!-- <p class="accordion-flyer">Weitere Informationen zu den Inhalten finden Sie in unserem <a href="/downloads/WEB_Flyer_Workshops_2021.pdf" target="_blank"> Flyer.</a></p> -->
          </div>
        </div>
      </div>
      <% } %>
      <% if(podcastaccordion.accordiontitletwo) {%>
      <div class="accordion-item" id="second-accordion">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <strong class="strong-ws"><%=podcastaccordion.accordiontitletwo %></strong>
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <%-podcastaccordion.accordiontextwo %>
            <!-- <p class="accordion-flyer">Weitere Informationen zu den Inhalten finden Sie in unserem <a href="/downloads/WEB_Flyer_Workshops_2021.pdf" target="_blank"> Flyer.</a></p> -->
          </div>
        </div>
      </div>
      <% } %>
      <% if(podcastaccordion.accordiontitlethree) {%>
      <div class="accordion-item" id="third-accordion">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <strong class="strong-ws"><%=podcastaccordion.accordiontitlethree %></strong>
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <%-podcastaccordion.accordiontexthree %>
            <!-- <p class="accordion-flyer">Weitere Informationen zu den Inhalten finden Sie im Infoblatt <a href="/downloads/2021_Ehrenamtliche_Infoblatt_Online_Workshop.pdf" target="_blank"> Online Workshops für Ehrenamtliche.</a></p> -->
          </div>
        </div>
      </div>
      <% } %>
      <% if(podcastaccordion.accordiontitlefour) {%>
      <div class="accordion-item" id="fourth-accordion">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            <strong class="strong-ws"><%=podcastaccordion.accordiontitlefour %></strong>
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <%-podcastaccordion.accordiontextfour %>
            <!-- <p class="accordion-flyer">Weitere Informationen zu den Inhalten finden Sie im Infoblatt <a href="/downloads/2021_Ehrenamtliche_Infoblatt_Online_Workshop.pdf" target="_blank"> Online Workshops für Ehrenamtliche.</a></p> -->
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <% if(currentUser) {%>
      <div class="btn-box">
        <a href="/podcasts/akkordion/<%=podcastaccordion._id%>/edit" class="btn btn-mina">Akkordion Bearbeiten</a>
      </div>
      <% } %>
  </div>

  <!-- MITARBEITER BLOCK -->
  <!-- <div class="container-fluid contact-box" id="ws-contact">
    <h1 class="white"><span class="title-line">Ansprechpersonen</span></h1>
    <div class="row">
      <div class="worker col">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/07_Laura.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Inhalte und Konzept</li>
            <li>Laura Schödermaier</li>
            <li>030 – 62 93 40 31</li>
            <li><a href="mailto:l.schoedermaier@mina-berlin.de">l.schoedermaier@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
      <div class="worker col">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/11_Abdurrahman.png" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Teamassistenz Workshops & Öffentlichkeitsarbeit</li>
            <li>Abdurrahman Gügercin</li>
            <li>030 – 62 93 40 31</li>
            <li><a href="mailto:a.guegercin@mina-berlin.de">a.guegercin@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->