<link rel="stylesheet" href="/styles/workshops.css">
<% layout("layouts/boilerplate") %>
<!-- NAV + HEADER -->
<main>
<div class="container-fluid">
    <div class="header-bg">
      <img src="/img/gesamt/Projekt/bg-workshops.jpg" class="img-fluid cover-header" id="img-header-ws">
    </div>
    <!-- TABLE BLOCK -->
    <div class="tabelle-block">
      <img class="logo img-fluid" src="/img/gesamt/Logos/icon_netzwerk.png" alt="">
      <h1 class="ws-title"><span class="title-line"><%= wsnew.title %></span></h1>
      <div class="ws-text" id="ws-intro"><%-wsnew.description %></div>
      <% if(wsnew.accordiontitleone) {%>
        <div class="accordion-item" id="first-accordion">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong class="strong-ws"><%=wsnew.accordiontitleone %></strong>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <%-wsnew.accordiontexone %>
            </div>
          </div>
        </div>
      <% } %>
      <% if(wsnew.accordiontitletwo) {%>
        <div class="accordion-item" id="second-accordion">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <strong class="strong-ws"><%=wsnew.accordiontitletwo %></strong>  
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <%-wsnew.accordiontextwo %>
            </div>
          </div>
        </div>
      <% } %>
      <% if(currentUser) {%>
      <a href="/ueberworkshops/<%=wsnew._id%>/edit" class="btn btn-aktuelles">Workshop Text Bearbeiten</a>
      <% } %>
      <!-- Table 1 -->
      <table class="table table-responsive table-hover" id="table-ws">
        <thead>

          <tr>
            <th scope="col">Datum</th>
            <th scope="col">Workshop</th>
            <th scope="col">Ort</th>
            <th scope="col">Verfügbarkeit</th>
            <th scope="col">Info</th>
          </tr>
        </thead>
        <tbody>
          <% for(let workshop of workshops) {%>
          <tr>
            <td><%= workshop.date %></td>
            <td><%= workshop.title %></td>
            <td>
              <ul>
                <li><%= workshop.location %></li>
                <li> <%= workshop.location2%></li>
                <li> <%= workshop.location3%></li>
              </ul>
            </td>
            <% if(workshop.capacity === "ausgebucht") { %>
            <td class="ausgebucht"><%= workshop.capacity %></td>
            <%} else { %>
            <td class="anmelden"><a href="/anmeldung/<%= workshop._id %>/new""><%= workshop.capacity %></a></td>
            <% } %>
            <td><a href=" /workshop/<%= workshop._id %>"> Mehr ...</a></td>
          </tr>
          <% }%>
        </tbody>
      </table>
      <% if(currentUser) {%>
      <a href="/workshop/new" class="btn btn btn-workshop">Workshop Hinzufügen</a>
      <% } %>

      <a href="/downloads/flyer-workshops.pdf" class="btn" id="btn-flyer" target="_blank">Unser aktueller Workshopflyer</a>
    </div>
    <!-- IMAGE BLOCK -->
    <div class="block blue gallery-block" id="ws-gallery">
      <h1 class="white"><span class="title-line line-blue">Bildergalerie</span></h1>
      <!-- Gallerie 1 -->
      <div class="gallery">
        <h3>Graphic Recording Workshop</h3>
        <div class="img-container-prozess">
          <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/WS/01_Graphic Recording.jpeg" alt=""></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/WS/02_Graphic Recording.jpeg" alt=""></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/WS/03_Graphic Recording.jpeg" alt=""></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/WS/04_Graphic Recording.jpeg" alt=""></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/WS/05_Graphic Recording.jpeg" alt=""></a>
        </div>
      </div>
      <!-- Gallerie 2 -->
      <div class="gallery">
        <h3>Gallerie Workshop</h3>
        <div class="img-container-prozess">
          <a data-bs-toggle="modal" data-bs-target="#exampleModal2"><img class="gallery-img gallery-2" src="/img/gesamt/Projekt/WS/01_Gallerie.jpg" alt=""></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal2"><img class="gallery-img gallery-2" src="/img/gesamt/Projekt/WS/02_Gallerie.jpg" alt=""></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal2"><img class="gallery-img gallery-2" src="/img/gesamt/Projekt/WS/03_Gallerie.jpg" alt=""></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal2"><img class="gallery-img gallery-2" src="/img/gesamt/Projekt/WS/04_Gallerie.jpg" alt=""></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal2"><img class="gallery-img gallery-2" src="/img/gesamt/Projekt/WS/06_Gallerie.jpg" alt=""></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal2"><img class="gallery-img gallery-2" src="/img/gesamt/Projekt/WS/07_Gallerie.jpg" alt=""></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal2"><img class="gallery-img gallery-2" src="/img/gesamt/Projekt/WS/08_Gallerie.jpg" alt=""></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal2"><img class="gallery-img gallery-2" src="/img/gesamt/Projekt/WS/09_Gallerie.jpg" alt=""></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal2"><img class="gallery-img gallery-2" src="/img/gesamt/Projekt/WS/10_Gallerie.jpg" alt=""></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal2"><img class="gallery-img gallery-2" src="/img/gesamt/Projekt/WS/11_Gallerie.jpg" alt=""></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal2"><img class="gallery-img gallery-2" src="/img/gesamt/Projekt/WS/12_Gallerie.jpg" alt=""></a>
        </div>
      </div>
    </div>
    <!-- MITARBEITER BLOCK -->
    <div class="container-fluid contact-box" id="ws-contact">
      <h1 class="white"><span class="title-line">Ansprechpartnerinnen</span></h1>
      <div class="row">
        <div class="worker col-sm-6">
          <img class="contact-img" src="/img/gesamt/Mitarbeiter/05_Jana.jpg" alt="">
          <div class="worker-info">
            <ul>
              <li class="worker-title">Inhalte und Konzept</li>
              <li>Jana Lubinova</li>
              <li>0157 - 850 783 07</li>
              <li>030 62 93 40 31</li>
              <li><a href="mailto:j.lubinova@mina-berlin.de">j.lubinova@mina-berlin.de</a> </li>
            </ul>
          </div>
        </div>
        <div class="worker col-sm-6">
          <img class="contact-img" src="/img/gesamt/Mitarbeiter/01_Britta.jpg" alt="">
          <div class="worker-info">
            <ul>
              <li class="worker-title">Organisation</li>
              <li>Britta Möller</li>
              <li>0157 - 850 783 07</li>
              <li>030 62 93 40 31</li>
              <li><a href="mailto:b.moeller@mina-berlin.de">b.moeller@mina-berlin.de</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal muss innerhalb <main> pplatziert werden -->
    <!-- MODAL 1 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Alle Bilder</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/img/gesamt/Projekt/WS/01_Graphic Recording.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/gesamt/Projekt/WS/02_Graphic Recording.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/gesamt/Projekt/WS/03_Graphic Recording.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/gesamt/Projekt/WS/04_Graphic Recording.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/gesamt/Projekt/WS/05_Graphic Recording.jpeg" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-mina" data-bs-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL 2 -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Alle Bilder</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/img/gesamt/Projekt/WS/01_Gallerie.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/gesamt/Projekt/WS/02_Gallerie.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/gesamt/Projekt/WS/03_Gallerie.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/gesamt/Projekt/WS/04_Gallerie.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/gesamt/Projekt/WS/06_Gallerie.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/gesamt/Projekt/WS/07_Gallerie.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/gesamt/Projekt/WS/08_Gallerie.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/gesamt/Projekt/WS/09_Gallerie.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/gesamt/Projekt/WS/10_Gallerie.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/gesamt/Projekt/WS/11_Gallerie.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/gesamt/Projekt/WS/12_Gallerie.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-mina" data-bs-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>



</main>
