<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/styles/workshops.css">

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= workshop.title %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Datum: <%= workshop.date %></li>
    <li class="list-group-item">Seminarort: <%= workshop.location %></li>
    <li class="list-group-item"><%= workshop.capacity %></li>
  </ul>
  <div class="card-body">
    <p class="card-text"><%- workshop.description %></p>
    <a href="#" class="card-link"><%- workshop.description %></a>
  </div>
</div>
<% if (currentUser) {%>
  <div class="btn-ws-group">
  <div class="btn-edit">
    <a class="card-link btn btn-info" href="/workshops/<%=workshop._id%>/edit">Bearbeiten</a>
  </div>
    <form class="d-inline" action="/workshops/<%=workshop._id%>?_method=DELETE" method="post">
      <button class="btn btn-danger">Löschen</button>
    </form>
    <div class="">
      <a class="btn btn-primary btn-mina" href="/mina/workshops">Zurück</a>
    </div>
  </div>

  <% } else { %>
    <a class="btn btn-primary btn-mina" href="/calendars/übersicht"">Zurück</a>
    <% } %>
