<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/styles/workshops.css">
<div class="ws-dv-box">
<h1 class=""><span class="title-line line-pink">Übersicht <%= workshop.title %> </span></h1>
<div class="card">
  <div class="card-body dv-title">
    <h5><span>Titel:</span> <%= workshop.title %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span>Datum:</span>  <%= workshop.date %></li>
    <li class="list-group-item"> <span>Seminarort:</span> <%= workshop.location %></li>
    <% if(workshop.capacity === "ausgebucht") { %>
      <li class="list-group-item ausgebucht"><%= workshop.capacity %></li>
    <%} else { %>
      <a class="anmelde-link" href="/anmeldung/<%= workshop._id %>/new"><li class="list-group-item anmelden"><%= workshop.capacity %></li></a>
    <% } %>
  </ul>
  <div class="card-body">
    <h6 class="description">Details:</h6>
    <p class="card-text"><%- workshop.description %></p>
  </div>
</div>
<% if (currentUser) {%>
<div class="btn-group">
  <div>
    <a class="card-link btn btn-workshop btn-ws-dv" href="/workshop/<%=workshop._id%>/edit">Bearbeiten</a>
  </div>
  <form class="d-inline btn-ws-dv" action="/workshop/<%=workshop._id%>?_method=DELETE" method="post">
    <button class="btn btn-danger">Löschen</button>
  </form>
  <div>
    <a class="btn btn-primary btn-mina btn-ws-dv" href="/workshops">Zurück</a>
  </div>
</div>
<% } else { %>
<a class="btn btn-primary btn-mina" href="/workshops">Zurück</a>
    <% } %>
</div>
