<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/styles/test.css">


<div class="card" style="width: 18rem;">
  <img src="/img/gesamt/Test/post.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= post.date %></li>
    <li class="list-group-item"><%= post.subtitle %></li>
  </ul>
  <% if (currentUser) {%>
  <div class="card-body">
    <a class="card-link btn btn-info" href="/posts/<%=post._id%>/edit">Bearbeiten</a>
    <form class="d-inline" action="/test/<%=post._id%>?_method=DELETE" method="post">
      <button class="btn btn-danger">Löschen</button>
    </form>
  </div>
  <% }%>
  <a class="btn btn-primary btn-mina" href="/test">Zurück</a>
</div>
